{% extends "base.html" %}

{% block content %}

<h1>Our Projects</h1>

<div class="portfolio">

    <div class="card">
        <h3>Stylish AI Name Generator</h3>
        <p>Generate creative and stylish names using AI.</p>
        <a class="btn" target="_blank"
        href="https://stylish-ai-name-generator.onrender.com">
        Visit Website</a>
    </div>

    <div class="card">
        <h3>Vertex Website</h3>
        <p>Modern responsive business website.</p>
        <a class="btn" target="_blank"
        href="https://vertex-website-tjm7.onrender.com">
        Visit Website</a>
    </div>

    <div class="card">
        <h3>Image Compressor</h3>
        <p>Django based image size reducer.</p>
        <a class="btn" target="_blank"
        href="https://image-compressor-django.onrender.com">
        Visit Website</a>
    </div>

    <div class="card">
        <h3>Instagram Video Downloader</h3>
        <p>Download Instagram reels & videos easily.</p>
        <a class="btn" target="_blank"
        href="https://insstagram-video-downloader.onrender.com">
        Visit Website</a>
    </div>

</div>

{% endblock %}
