{% extends "base.html" %}

{% block content %}

<div class="section">

<h1>Our Services</h1>
<p>Affordable, modern and high-quality websites.</p>

<div class="services">


<!-- ===== LANDING PAGE ===== -->
<div class="service-card">
    <h2>Landing Page</h2>

    <div class="price">₹200</div>

    <ul>
        <li>Single Page Design</li>
        <li>Mobile Friendly</li>
        <li>Contact Button</li>
        <li>1 Revision</li>
    </ul>

    <a class="btn" target="_blank"
    href="https://wa.me/918252503218?text=Hello%20SiteSphere%2C%20I%20want%20Landing%20Page%20website">
    Get Started</a>
</div>



<!-- ===== BASIC WEBSITE ===== -->
<div class="service-card">
    <h2>Basic Website</h2>

    <div class="price">₹500</div>

    <ul>
        <li>5 Pages</li>
        <li>Mobile Friendly</li>
        <li>Free Hosting Help</li>
        <li>1 Revision</li>
    </ul>

    <a class="btn" target="_blank"
    href="https://wa.me/918252503218?text=Hello%20SiteSphere%2C%20I%20want%20Basic%20Website%20Plan">
    Get Started</a>
</div>



<!-- ===== STANDARD ===== -->
<div class="service-card popular">
    <h2>Standard Website</h2>

    <div class="price">₹999</div>

    <ul>
        <li>10 Pages</li>
        <li>Contact Form</li>
        <li>Basic SEO</li>
        <li>2 Revisions</li>
    </ul>

    <a class="btn" target="_blank"
    href="https://wa.me/918252503218?text=Hello%20SiteSphere%2C%20I%20want%20Standard%20Website%20Plan">
    Get Started</a>
</div>



<!-- ===== PREMIUM ===== -->
<div class="service-card">
    <h2>Premium Website</h2>

    <div class="price">₹2000</div>

    <ul>
        <li>Custom Design</li>
        <li>Admin Panel</li>
        <li>Advanced SEO</li>
        <li>1 Month Support</li>
    </ul>

    <a class="btn" target="_blank"
    href="https://wa.me/918252503218?text=Hello%20SiteSphere%2C%20I%20want%20Premium%20Website%20Plan">
    Get Started</a>
</div>






<!-- ===== MAINTENANCE ===== -->
<div class="service-card">
    <h2>Website Maintenance</h2>

    <div class="price">₹200 / month</div>

    <ul>
        <li>Content Updates</li>
        <li>Bug Fixes</li>
        <li>Backup</li>
        <li>Speed Optimize</li>
    </ul>

    <a class="btn" target="_blank"
    href="https://wa.me/918252503218?text=Hello%20SiteSphere%2C%20I%20need%20Website%20Maintenance">
    Get Started</a>
</div>


</div>

</div>

{% endblock %}
